
.vs/Esp32AdafrultEmu1_0/v16/.suo
.vs/Esp32AdafrultEmu1_0/v16/Browse.VC.db
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/175ed7fc42b9383d/CONSOLESERIAL.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/25760356afd501cf/PRINT.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/18ef41d3f708271d/ADAFRUIT_CAVES.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/e61163c552e793b6/ARDUINOCOREEMU.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/cce74ad9af11a258/ADAFRUIT_OPENCVDRAWABLE.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/7817f38d572c66e6/SIMPLEFILE.ipch
.vs/Esp32AdafrultEmu1_0/v16/ipch/AutoPCH/5352cd47271a22fa/ARDUINOCOREEMU.ipch
